# inventory.ini.j2
[all]
{% for node in app_nodes %}
k8s-node{{ loop.index }} ansible_host={{ node.mgmt_ip_address }} ansible_user={{ username }} ansible_ssh_pass="{{ password }}" ansible_become_password="{{ password }}" ip={{ node.client_ip_address }}{% if loop.index <= 3 %} etcd_member_name=etcd{{ loop.index }}{% endif %}{{''}}
{% endfor %}

[all:vars]
iguazio_version = {{ iguazio_version }}

[kube_control_plane]
{% if app_nodes|length < 3 %}
k8s-node1
{% else %}
{% for node in app_nodes[:3] %}
k8s-node{{ loop.index }}
{% endfor %}
{% endif %}

[etcd]
{% if app_nodes|length < 3 %}
k8s-node1
{% else %}
{% for node in app_nodes[:3] %}
k8s-node{{ loop.index }}
{% endfor %}
{% endif %}

[kube_node]
{% for node in app_nodes %}
k8s-node{{ loop.index }}
{% endfor %}

[k8s_cluster:children]
kube_control_plane
kube_node

[k8s_clients]
{% for node in data_nodes %}
data-node{{ loop.index }} ansible_host={{ node }} ansible_user={{ username }} ansible_ssh_pass="{{ password }}" ansible_become_password="{{ password }}"
{% endfor %}
